:root {
  --time-fade-in:5s
}

.fade-in {
  animation: fadeIn var(--time-fade-in);
  -webkit-animation: fadeIn var(--time-fade-in);
  -moz-animation: fadeIn var(--time-fade-in);
  -o-animation: fadeIn var(--time-fade-in);
  -ms-animation: fadeIn var(--time-fade-in);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
